@model IEnumerable<eManagement.Models.Site>

@{
    ViewData["Title"] = "Index";
}

<h1>Site</h1>

<div class="row">
    <div class="col-md-6">
        <form class="d-flex" asp-action="Index" asp-asp-controller="Site">

            <input name="searchString" class="form-control me-1 " type="search" placeholder="Search" arial-label="Search" />
            <button class="btn btn-dark" type="submit">Search by name </button>
        </form>

    </div>
</div>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SiteName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Adress1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Adress2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PostCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FoneNumeber)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SiteName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Adress1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Adress2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PostCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FoneNumeber)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
